<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="" style="padding-top: 0px">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-12 col-sm-offset-0">
			
				<div class="jumbotron">
					<h1>Our amazing team</h1>
					<p>Andrej</p>
					<p>Evgeny</p>
					<p>Jawwad</p>
					<p>Osman</p>
				</div>
				
			</div>
			<!-- <div class="col-sm-4">
				<div class="well">
					<h3>Whateva</h3>
				</div>
			</div> -->
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>